@import "../../../styles/theme";

.root {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background: $appHeaderBackgroundColor;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.transparent {
  background: transparent !important;
}