@import "../../../styles/theme";

.root {
  display: block;
  width: 100%;
  top: 0;
  z-index: 5;
  background: $appHeaderBackgroundColor;
  transition: background-color 0.5s ease-in-out;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.transparent {
  background: transparent !important;
}

.positionFixed {
  position: fixed;
}
.positionStatic {
  position: static;
}
.positionSticky {
  position: sticky;
}