.root {
  position:absolute;
  width: 100%;
  height: 80vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
}

.imageWrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 80vh;
  & img {
    filter: opacity(10%);
    mix-blend-mode: screen;
  }
}