.root {
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 80px;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.slideContainer {
  position: relative;
}

.text {
  line-height: 2;
}

.ratingContainer {
  padding: 2rem;
  text-align: center;
}