@import "../../../styles/theme";

.root {
 /* a {
    color: $linkColor;
   &:link {
     color: $linkColor;
   }
    &:hover {
      color: $linkHoverColor;
    }
    &:focus {
      color: $linkFocusColor;
    }
    &:active {
      color: $linkActiveColor;
    }
    &:visited {
      color: $linkVisitedColor;
    }
  }
  &.active a {
    color: $linkActiveColor;
  }*/
}