$baseFontSize: 16px !default;

$fontSizeSmaller: 10px !default;
$fontSizeSmall: 12px !default;
$fontSizeMedium: 16px !default;
$fontSizeLarge: 22px !default;
$fontSizeLarger: 28px !default;

$fontWeightLighter: 100 !default;
$fontWeightLight: 200 !default;
$fontWeightMedium: 300 !default;
$fontWeightBold: 600 !default;
$fontWeightBolder: 900 !default;
