$primaryFontFamily:  'Roboto', sans-serif;
$secondaryFontFamily: 'Lato', sans-serif;

$baseFontSize: 16px !default;
$baseFontFamily: $secondaryFontFamily;

$fontSizeSmaller: 0.5rem !default;
$fontSizeSmall: 0.75rem !default;
$fontSizeMedium: 1rem !default;
$fontSizeLarge: 1.5rem !default;
$fontSizeLarger: 2rem !default;

$fontWeightLighter: 100 !default;
$fontWeightLight: 200 !default;
$fontWeightMedium: 400 !default;
$fontWeightBold: 600 !default;
$fontWeightBolder: 900 !default;
