// Colors
$headingPrimaryColor: $primaryColor !default;
$headingSecondaryColor: $secondaryColor !default;
$headingMonoColor: $monoColor !default;

// Sizes
$headingXs: 0.9rem !default;
$headingSm: 1.1rem !default;
$headingMd: 1.5rem !default;
$headingLg: 3rem !default;
$headingXl: 5rem !default;

// LineHeights
$headingLineHeightMd: 1.1em;