// Colors
$textPrimaryColor: $primaryColor !default;
$textSecondaryColor: $secondaryColor !default;
$textMonoColor: $monoColor !default;

// Sizes
$textXs: $fontSizeSmaller !default;
$textSm: $fontSizeSmall !default;
$textMd: $fontSizeMedium !default;
$textLg: $fontSizeLarge !default;
$textXl: $fontSizeLarger !default;

// LineHeights
$textLineHeightMd: 1.1em;